# Systemd service configuration for ifun_test
[Unit]
Description=iFun Engine game - ifun_test
After=syslog.target network-online.target

[Install]
WantedBy=multi-user.target

[Service]
# If this limit is not enough, you SHOULD look after
# "net.netfilter.nf_conntrack_tcp_timeout_time_wait" (using sysctl)
LimitNOFILE=999999

# It is strongly recommended that one should use uid:gid other than the root
# NOTE: Please update User=, Group=, and ExecStartPre=
User=root
Group=root

# Makes the daemon automatically restart
Type=simple
Restart=always
RestartSec=5s

# create directories, and change permissions (with root privileges)
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/funapi/ifun_test/glog \
  /var/log/funapi/ifun_test/activity \
  /var/log/funapi/ifun_test/counter \
  /var/crash/funapi/ifun_test
# NOTE: change root:root to service's uid:gid
ExecStartPre=/usr/bin/chown -R root:root /var/log/funapi/ifun_test/glog \
  /var/log/funapi/ifun_test/activity \
  /var/log/funapi/ifun_test/counter \
  /var/crash/funapi/ifun_test

EnvironmentFile=/etc/default/ifun_test
ExecStart=/usr/bin/ifun_test-launcher
